# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:Blaze=false
    B:CaveSpider=true
    B:Creeper=false
    B:"Defiled Zombie"=false
    B:ElderGuardian=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EvocationIllager=false
    B:Ghast=false
    B:Giant=false
    B:Guardian=false
    B:Husk=true
    B:IllusionIllager=false
    B:LavaSlime=false
    B:PigZombie=false
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:Slime=false
    B:Spider=true
    B:Stray=true
    B:Vex=false
    B:VindicationIllager=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieVillager=true
    B:abaia=false
    B:abtu=false
    B:abyssalcraft.Jzahar=false
    B:abyssalcraft.abygolem=false
    B:abyssalcraft.abyssalzombie=false
    B:abyssalcraft.antiabyssalzombie=false
    B:abyssalcraft.anticreeper=false
    B:abyssalcraft.antighoul=false
    B:abyssalcraft.antiplayer=false
    B:abyssalcraft.antiskeleton=false
    B:abyssalcraft.antispider=false
    B:abyssalcraft.antizombie=false
    B:abyssalcraft.chagaroth=false
    B:abyssalcraft.chagarothfist=false
    B:abyssalcraft.chagarothspawn=false
    B:abyssalcraft.demonchicken=false
    B:abyssalcraft.demoncow=false
    B:abyssalcraft.demonpig=false
    B:abyssalcraft.demonsheep=false
    B:abyssalcraft.depthsghoul=false
    B:abyssalcraft.dragonboss=false
    B:abyssalcraft.dragonminion=false
    B:abyssalcraft.dreadgolem=false
    B:abyssalcraft.dreadguard=false
    B:abyssalcraft.dreadling=false
    B:abyssalcraft.dreadspawn=false
    B:abyssalcraft.evilchicken=false
    B:abyssalcraft.evilcow=false
    B:abyssalcraft.evilpig=false
    B:abyssalcraft.evilsheep=false
    B:abyssalcraft.greaterdreadspawn=false
    B:abyssalcraft.greatershoggoth=false
    B:abyssalcraft.gskeleton=false
    B:abyssalcraft.jzaharminion=false
    B:abyssalcraft.lesserdreadbeast=false
    B:abyssalcraft.lessershoggoth=false
    B:abyssalcraft.omotholghoul=false
    B:abyssalcraft.remnant=false
    B:abyssalcraft.shadowbeast=false
    B:abyssalcraft.shadowboss=false
    B:abyssalcraft.shadowcreature=false
    B:abyssalcraft.shadowmonster=false
    B:abyssalcraft.shoggoth=false
    B:abyssalcraft.shuboffspring=false
    B:afrit=false
    B:aglebemu=false
    B:amalgalich=false
    B:archvile=false
    B:argus=false
    B:arix=false
    B:asmodeus=false
    B:astaroth=false
    B:balayang=false
    B:bandit1=false
    B:banshee=false
    B:behemoth=false
    B:belph=false
    B:"botania:pinkWither"=false
    B:calpod=false
    B:cinder=false
    B:clink=false
    B:cockatrice=false
    B:conba=false
    B:cryptkeeper=false
    B:darkling=false
    B:deathclaw=false
    B:defiledlands.host=false
    B:defiledlands.scuttler=true
    B:defiledlands.shambler=false
    B:defiledlands.shambler_twisted=false
    B:defiledlands.slime_defiled=false
    B:defiledlands.the_destroyer=false
    B:defiledlands.the_mourner=false
    B:djinn=false
    B:"draconicevolution:ChaosGuardian"=false
    B:dweller=false
    B:eechetik=false
    B:ent=false
    B:epion=false
    B:ettin=false
    B:expstalker=false
    B:freeze=false
    B:frostweaver=false
    B:geist=false
    B:geken=false
    B:geonach=false
    B:ghoul=false
    B:gorgomite=false
    B:grigori=false
    B:grue=false
    B:hazmat_zombie=false
    B:herma=false
    B:ioray=false
    B:jabberwock=false
    B:jengu=false
    B:khalk=false
    B:kobold=false
    B:krake=false
    B:lacedon=false
    B:licker=false
    B:lobber=false
    B:molded=false
    B:morock=false
    B:mutant_scientist=false
    B:necromorph=false
    B:nitrocreeper=false
    B:nuclearcraft.feral_ghoul=true
    B:pixen=false
    B:"primal:bear_black"=false
    B:"primal:bear_brown"=false
    B:"primal:canis_campestris"=false
    B:"primal:creeper_nether"=false
    B:"primal:gator"=false
    B:"primal:shark_hammerhead"=false
    B:"quark:ashen"=true
    B:"quark:dweller"=true
    B:"quark:foxhound"=false
    B:"quark:pirate"=true
    B:"quark:wraith"=true
    B:quetzodracl=false
    B:quillbeast=false
    B:rahovart=false
    B:raiko=false
    B:ranged_rogue_android=false
    B:reaper=false
    B:reiver=false
    B:remobra=false
    B:roa=false
    B:roc=false
    B:rogue_android=false
    B:salamander=false
    B:sampleMissionGiver=false
    B:shambler=false
    B:skylus=false
    B:spectre=false
    B:spriggan=false
    B:sutiramu=false
    B:sylph=false
    B:tarantula=false
    B:tconstruct.blueslime=false
    B:thebetweenlands.angler=false
    B:thebetweenlands.ash_sprite=false
    B:thebetweenlands.barrishee=false
    B:thebetweenlands.blood_snail=false
    B:thebetweenlands.boulder_sprite=false
    B:thebetweenlands.bubbler_crab=false
    B:thebetweenlands.chiromaw=false
    B:thebetweenlands.chiromaw_greebling_rider=false
    B:thebetweenlands.chiromaw_matriarch=false
    B:thebetweenlands.crypt_crawler=false
    B:thebetweenlands.dark_druid=false
    B:thebetweenlands.dreadful_mummy=false
    B:thebetweenlands.emberling_shaman=false
    B:thebetweenlands.fortress_boss=false
    B:thebetweenlands.fortress_boss_blockade=false
    B:thebetweenlands.fortress_boss_spawner=false
    B:thebetweenlands.fortress_boss_turret=false
    B:thebetweenlands.gas_cloud=false
    B:thebetweenlands.jellyfish=false
    B:thebetweenlands.jellyfish_cave=false
    B:thebetweenlands.large_sludge_worm=false
    B:thebetweenlands.leech=false
    B:thebetweenlands.lurker=false
    B:thebetweenlands.moving_spawner_hole=false
    B:thebetweenlands.peat_mummy=false
    B:thebetweenlands.pyrad=false
    B:thebetweenlands.shambler=false
    B:thebetweenlands.silt_crab=false
    B:thebetweenlands.sludge=false
    B:thebetweenlands.sludge_menace=false
    B:thebetweenlands.small_sludge_worm=false
    B:thebetweenlands.smoll_sludge=false
    B:thebetweenlands.spirit_tree_face_large=false
    B:thebetweenlands.spirit_tree_face_small=false
    B:thebetweenlands.stalker=false
    B:thebetweenlands.swamp_hag=false
    B:thebetweenlands.swarm=false
    B:thebetweenlands.tar_beast=false
    B:thebetweenlands.termite=false
    B:thebetweenlands.tiny_sludge_worm=false
    B:thebetweenlands.tiny_sludge_worm_helper=false
    B:thebetweenlands.wall_lamprey=false
    B:thebetweenlands.wall_living_root=false
    B:thebetweenlands.wight=false
    B:thebetweenlands.wild_emberling=false
    B:thresher=false
    B:tornzombie=false
    B:"totemic:baykok"=false
    B:treant=false
    B:tremor=false
    B:triffid=false
    B:trite=false
    B:troll=false
    B:vapula=false
    B:vespid=false
    B:vespidqueen=false
    B:volcan=false
    B:vorach=false
    B:wasp=false
    B:wendigo=false
    B:wildkin=false
    B:wraamon=false
    B:wraith=false
    B:xaphan=false
    B:zephyr=false
    B:zoataur=false
    B:zombie=false
    B:zombieBlistered=false
    B:zombieRipper=false
}


